<!-- Website Title & Description for Search Engine purposes -->
<title>Log Aggrigator</title>
<meta name="description" content="">

<!-- Mobile viewport optimized -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<!-- Bootstrap CSS -->
<link href="stylesheets/bootstrap.min.css" rel="stylesheet">
<link href="stylesheets/bootstrap-glyphicons.css" rel="stylesheet">

<!-- jQuery Bootgrid CSS -->
<link href="stylesheets/jQueryBootgrid/jquery.bootgrid.css" rel="stylesheet" >

<!-- Custom CSS -->
<link href="stylesheets/style.css" rel="stylesheet">
<link href="stylesheets/graphs.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Alegreya' rel='stylesheet' type='text/css'>

<!-- Include Modernizr in the head, before any other Javascript -->
<script src="javascripts/modernizr-2.6.2.min.js"></script>

<script src="javascripts/jquery-1.11.3.js"></script>
<script src="//d3js.org/d3.v3.min.js" type="text/javascript"></script>
<script src="javascripts/main.js" type="text/javascript"></script>
